.chatInput {
  width: 100%;
  border-top: 2px solid #123C69;
  height: 68px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 12px;
  background: #EEE2DC;
}

.sendButton {
  background-image: url(./button/send.png);
  width: 49px;
  height: 50px;
  background-size: contain;
  border: none;
  background-color: #EEE2DC;
  cursor: pointer;
}

.sendButton:hover {
  background-image: url(./button/send-hover.png);
}

.sendButton:active {
  background-image: url(./button/send-active.png);
  transform: scale(0.98);
}