.main {
  height: 100vh;
  background-color: #EEE2DC;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.ChatContainer {
  height: calc(100% - 68px);
  display: flex;
  flex-direction: column-reverse;
}