.input {
  display: none;
}

.mediaButton {
  background-image: url(./img/paperclip.png);
  height: 26px;
  width: 28px;
  background-size: contain;
  border: none;
  background-color: #EEE2DC;
  cursor: pointer;
}

.mediaButton.attached {
  background-image: url(./img/check.png);
}