.messageContainer {
  width: 100%;
  display: flex;
}

.sentContainer {
  justify-content: flex-end;
  color: white;
}

.receivedContainer {
  justify-content: flex-start;
  color: black;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 5px;
  background-size: contain;
}

.sentQuoteButton {
  background-color: transparent;
  background-image: url(./img/sentQuoteButton.png);
}

.receivedQuoteButton {
  background-color: transparent;
  background-image: url(./img/receivedQuoteButton.png);
}

.message {
  padding: 4px 16px;
  line-height: 1.4;
  max-width: 60%;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 18px;
  word-break: break-word;
  position: relative;
}

.sentMessage {
  background-color: #123C69;
  border-bottom-right-radius: 4px;
}

.receivedMessage {
  background-color: #BAB2B5;
  border-bottom-left-radius: 4px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 8px;
}

.username {
  font-weight: bold;
  color: #123c69;
}


.sentTimestamp {
  color: #f3b8cb;
}

.receivedTimestamp {
  color: #8d2a4c;
  margin-left: 10px;
}

.quoted {
  background: #f1c4d2;
  padding: 8px 5px;
  border-radius: 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  margin-bottom: 10px;
  box-sizing: border-box;
}